.blue {
  color: #3755FA;
}

.green {
  color: #15ce92;
}

.title-underscore {
  position: relative;
  margin-bottom: 25px;
}
.title-underscore::after {
  content: "";
  background-color: #3755FA;
  height: 4px;
  width: 5em;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #F3F3F3;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo img {
  max-height: 55px;
}
.header__nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__nav-item a {
  color: #F3F3F3;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
.header__nav-item:last-child a {
  padding: 10px 20px;
  border: 2px solid #F3F3F3;
  border-radius: 12px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.header__nav-item:hover a {
  color: #b7b7b7;
}
.header__nav-item:hover:last-child a {
  background-color: #F3F3F3;
  color: #3755FA;
}
.header__burger {
  display: none;
  width: 30px;
  height: 16px;
  position: relative;
}
.header__burger span, .header__burger::before, .header__burger::after {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #F3F3F3;
  transition: background-color 0.3s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.header__burger::before {
  content: "";
  top: 0;
}
.header__burger::after {
  content: "";
  bottom: 0;
}
.header__burger span {
  width: 70%;
  bottom: 50%;
  top: calc(50% - 1px);
}
.header__burger.active span {
  opacity: 0;
}
.header__burger.active::before {
  transform: translateY(7px) rotateZ(-45deg);
}
.header__burger.active::after {
  transform: translateY(-6px) rotateZ(45deg);
}

.promo {
  background-color: #3755FA;
  padding: 175px 0 135px;
  position: relative;
  color: #F3F3F3;
  margin-bottom: 30px;
}
.promo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: linear-gradient(180deg, #3755FA 0%, rgba(55, 85, 250, 0) 100%);
  bottom: -30px;
  right: 0;
  left: 0;
  z-index: -1;
}
.promo__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.promo__content {
  max-width: 50%;
}
.promo__content-title {
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 15px;
}
.promo__content-advantages {
  padding: 25px 20px;
  border-radius: 20px;
  background: rgba(243, 243, 243, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 510px;
  margin-bottom: 30px;
}
.promo__content-advantages_item {
  display: flex;
  align-items: baseline;
  gap: 15px;
  font-size: 20px;
}
.promo__content-advantages_item img {
  max-width: 30px;
}
.promo__btns {
  display: flex;
  gap: 20px;
  align-items: center;
}
.promo__btns-item {
  padding: 20px 25px;
  border-radius: 15px;
  color: #F3F3F3;
  height: fit-content;
  font-weight: 700;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
}
.promo__btns-item {
  border: 3px solid #16E09E;
  padding: 17px 25px;
}
.promo__btns-item:hover {
  background-color: #15ce92;
}
.promo__img img {
  max-width: 100%;
}
.promo__img .mob, .promo__img .mid {
  display: none;
}

.world {
  padding: 55px 0 40px;
}
.world__title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: #15ce92;
  margin-bottom: 10px;
}
.world__text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 45px;
}
.world__content {
  gap: 30px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.world__content-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 18px 30px;
  border-radius: 20px;
  background: rgba(55, 85, 250, 0.3);
  color: #212529;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  justify-content: center;
}
.world__content-item img {
  max-height: 40px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.world__content-item:hover img:last-child {
  transform: translateX(13px);
}
.world__trust {
  color: #F3F3F3;
  width: 100%;
  padding: 21px 40px;
  border-radius: 25px;
  background-color: #3755FA;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  margin-top: 50px;
}

.scope {
  padding: 75px 0 90px;
}
.scope__title {
  font-size: 40px;
  font-weight: 800;
  color: #3755FA;
}
.scope__examples {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.scope__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 17px;
  box-shadow: 0 4px 8px -1px rgba(124, 78, 255, 0.03), 0 8px 16px -3px rgba(124, 78, 255, 0.03), 0 16px 32px -6px rgba(124, 78, 255, 0.06);
}

.partners {
  padding: 80px 0 120px;
  background: url("../img/partners/background.png") center no-repeat;
  background-size: cover;
  color: #F3F3F3;
}
.partners__title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}
.partners__subtitle {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 50px;
}
.partners__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.partners__list-item {
  color: #212529;
  padding: 20px 25px;
  background-color: #F3F3F3;
  border-radius: 24px;
  font-size: 20px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: default;
}
.partners__list-item:hover {
  box-shadow: 0 4px 8px -1px rgba(243, 243, 243, 0.4), 0 8px 16px -3px rgba(227, 227, 227, 0.4), 0 16px 32px -6px rgba(150, 150, 150, 0.4);
}

.why {
  padding: 70px 0 90px;
}
.why__title {
  font-size: 40px;
  font-weight: 800;
  color: #3755FA;
  text-align: center;
  margin-bottom: 50px;
}
.why__title::after {
  left: 0;
  right: 0;
  margin: auto;
}
.why__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 50px;
  justify-content: space-between;
}
.why__item {
  width: 100%;
  display: flex;
  gap: 10px;
  flex: 0 1 47%;
  box-shadow: 0 4px 8px -1px rgba(124, 78, 255, 0.03), 0 8px 16px -3px rgba(124, 78, 255, 0.03), 0 16px 32px -6px rgba(124, 78, 255, 0.06);
  border-radius: 12px;
  padding: 15px 20px;
}
.why__item-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 7px;
}
.why__item-text {
  color: #3c3f41;
}
.why__order {
  margin-top: 70px;
  border-radius: 30px;
  background: #3755FA;
  padding: 30px 35px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F3F3F3;
}
.why__order-title {
  font-weight: 700;
  font-size: 46px;
}
.why__order-text {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}
.why__form {
  position: relative;
}
.why__form input {
  padding: 15px;
  border-radius: 10px 0 0 10px;
  background-color: #F3F3F3;
  color: #212529;
  font-weight: 600;
  font-size: 20px;
}
.why__form button {
  padding: 15px;
  background-color: #16E09E;
  color: #F3F3F3;
  font-weight: 700;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  margin-left: -5px;
  transition: background-color 0.2s ease-in-out;
}
.why__form button:hover {
  background-color: #0fa272;
}

.prices {
  padding: 40px 0 60px;
  background-color: #212529;
}
.prices__title {
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
  color: #3755FA;
}
.prices__title::after {
  left: 0;
  right: 0;
  margin: auto;
}
.prices__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.prices__item {
  padding: 30px 20px 20px;
  border-radius: 22px;
  color: #212529;
  box-shadow: 0 4px 8px -1px rgba(124, 78, 255, 0.03), 0 8px 16px -3px rgba(124, 78, 255, 0.03), 0 16px 32px -6px rgba(124, 78, 255, 0.06);
  width: auto;
  position: relative;
  background-color: #F3F3F3;
}
.prices__item-discount {
  font-size: 16px;
  background-color: #15ce92;
  padding: 10px 15px;
  border-radius: 8px;
  color: #212529;
  position: absolute;
  top: -20px;
  right: 10px;
}
.prices__item-subtitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2px;
}
.prices__item-top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.prices__item-top_price {
  font-size: 26px;
  font-weight: 700;
}
.prices__item-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.prices__item-content_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-size: 20px;
}
.prices__item-content_item:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}
.prices__item-content_item p:last-child {
  font-weight: 600;
  width: auto;
}
.prices__item-btn {
  background-color: #3755FA;
  color: #F3F3F3;
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
  transition: background-color 0.2s ease-in-out;
}
.prices__item-btn:hover {
  background-color: #2a3b98;
}

.better {
  padding: 30px 0 20px;
}
.better__title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: #3755FA;
  margin-bottom: 20px;
}
.better__list {
  display: flex;
  text-align: center;
  gap: 8px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.better__list-item {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  max-width: 48%;
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0 4px 8px -1px rgba(124, 78, 255, 0.03), 0 8px 16px -3px rgba(124, 78, 255, 0.03), 0 16px 32px -6px rgba(124, 78, 255, 0.06);
}

.order {
  padding-top: 60px;
}
.order__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.order__content-title {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 15px;
}
.order__content-text {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 25px;
}
.order__form input {
  padding: 15px;
  border-radius: 10px 0 0 10px;
  background-color: #F3F3F3;
  color: #212529;
  font-weight: 600;
  font-size: 20px;
}
.order__form button {
  padding: 15px;
  background-color: #3755FA;
  color: #F3F3F3;
  font-weight: 700;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  margin-left: -5px;
  transition: background-color 0.2s ease-in-out;
}
.order__form button:hover {
  background-color: #2a3b98;
}

.footer {
  background-color: #212529;
  padding: 35px 0 70px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #F3F3F3;
}
.footer__top-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #F3F3F3;
  font-size: 26px;
  font-weight: 700;
  height: fit-content;
}
.footer__top-logo img {
  max-width: 45px;
}
.footer__top-nav ul {
  display: flex;
  gap: 13px;
}
.footer__top-nav_item {
  text-align: right;
  font-size: 16px;
}
.footer__top-nav_item a {
  color: #F3F3F3;
  transition: color 0.2s ease-in-out;
}
.footer__top-nav_item:hover a {
  color: #b7b7b7;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footer__bottom p, .footer__bottom a {
  font-size: 16px;
  color: #F3F3F3;
}
.footer__bottom a {
  text-decoration: underline;
}

.popup {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background-color: #212529;
  color: #F3F3F3;
  display: none;
  z-index: 99999;
}
.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__title {
  font-weight: 800;
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
}
.popup__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.popup__form-input {
  padding: 15px;
  border-radius: 5px;
  background-color: #F3F3F3;
  color: #212529;
  font-weight: 600;
  font-size: 20px;
}
.popup__form-btn {
  width: 100%;
  padding: 15px;
  background-color: #3755FA;
  color: #F3F3F3;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}
.popup__form-btn:hover {
  background-color: #2a3b98;
}
.popup img {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 50px;
}

.thanks__container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.thanks__title {
  font-size: 40px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.thanks__btn {
  background-color: #3755FA;
  color: #F3F3F3;
  display: block;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: 600;
  border-radius: 7px;
  transition: background-color 0.2s ease-in-out;
}
.thanks__btn:hover {
  background-color: #2a3b98;
}

@media (max-width: 1221px) {
  .order__img {
    margin-right: -15px;
  }
}
@media (max-width: 1199px) {
  .scope__examples {
    grid-template-columns: repeat(3, 1fr);
  }
  .prices__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .order__container {
    align-items: flex-end;
  }
  .order__content {
    padding-bottom: 20px;
  }
}
@media (max-width: 1114px) {
  .why__order {
    align-items: center;
    padding-bottom: 40px;
  }
  .why__order-img img {
    max-width: 360px;
  }
}
@media (max-width: 959px) {
  .header__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100vw;
    background-color: rgba(33, 37, 41, 0.87);
    padding: 30px 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: left 0.3s ease-in-out;
  }
  .header__nav.active {
    left: 0;
  }
  .header__nav ul {
    display: flex;
    flex-direction: column;
  }
  .header__nav-item {
    text-align: left;
    font-size: 32px;
  }
  .header__nav-item:last-child {
    margin-top: 20px;
  }
  .header__burger {
    display: block;
  }
  .promo {
    padding-top: 130px;
  }
  .promo__container {
    flex-direction: column;
  }
  .promo__content {
    max-width: none;
    margin-bottom: 30px;
  }
  .promo__content-title {
    text-align: center;
  }
  .promo__content-advantages {
    max-width: 610px;
  }
  .promo__btns {
    justify-content: center;
  }
  .promo__img .full {
    display: none;
  }
  .promo__img .mid {
    display: block;
  }
  .why__item {
    flex: 1 1 100%;
  }
  .partners {
    padding: 40px 0 60px;
  }
  .partners__title {
    font-size: 34px;
  }
  .partners__subtitle {
    font-size: 32px;
  }
  .partners__list-item {
    padding: 10px 15px;
    border-radius: 12px;
  }
  .scope__examples {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 849px) {
  .world__title {
    font-size: 32px;
  }
  .world__text {
    font-size: 20px;
  }
  .world__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .world__content-item {
    padding: 15px 5px;
    gap: 8px;
    font-size: 20px;
  }
  .why__order {
    padding-bottom: 20px;
  }
  .why__order-title {
    font-size: 34px;
  }
  .why__order-text {
    font-size: 20px;
  }
  .why__order-img img {
    display: none;
  }
  .better__title {
    font-size: 30px;
  }
  .order {
    padding-top: 30px;
  }
  .order__content-title {
    font-size: 30px;
  }
  .order__content-text {
    font-size: 20px;
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
  }
  .footer__top-nav_item {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .partners__title {
    font-size: 30px;
  }
  .partners__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .partners__list {
    gap: 15px;
  }
  .prices__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .order {
    position: relative;
  }
  .order__content {
    max-width: 57%;
  }
  .order__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .order__form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .order__form input {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  .order__form button {
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
  .better__list-item {
    max-width: none;
  }
}
@media (max-width: 709px) {
  .why {
    padding: 0 0 30px;
  }
  .why__title {
    font-size: 30px;
  }
  .scope {
    padding: 35px 0 40px;
  }
  .scope__title {
    font-size: 30px;
  }
  .scope__examples {
    grid-template-columns: repeat(1, 1fr);
  }
  .scope__item {
    display: flex;
    justify-content: center;
  }
  .prices__title {
    font-size: 34px;
  }
}
@media (max-width: 629px) {
  .why__item-title {
    font-size: 20px;
  }
  .why__item-text {
    font-size: 20px;
  }
  .order__content {
    max-width: none;
  }
  .order__img {
    display: none;
  }
  .footer__top-nav ul {
    flex-direction: column;
  }
  .popup__title {
    font-size: 30px;
  }
  .popup__form {
    flex-direction: column;
    align-items: baseline;
  }
  .popup__form-input {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  .popup__form-btn {
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
  .thanks__title {
    font-size: 30px;
  }
}
@media (max-width: 539px) {
  .promo {
    padding: 120px 0 40px;
  }
  .promo__content-title {
    font-size: 34px;
  }
  .promo__content-advantages_item {
    font-size: 20px;
  }
  .promo__content-advantages_item img {
    max-width: 25px;
  }
  .promo__btns {
    flex-direction: column;
  }
  .promo__btns-item {
    padding: 17px 25px;
  }
  .promo__img .mid {
    display: none;
  }
  .promo__img .mob {
    display: block;
  }
  .world__title {
    font-size: 30px;
  }
  .world__text {
    font-size: 16px;
  }
  .world__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .world__content-item {
    max-width: 330px;
    margin: 0 auto;
  }
  .world__trust {
    padding: 15px 20px;
    font-size: 20px;
  }
  .scope__item {
    justify-content: flex-start;
  }
}
@media (max-width: 499px) {
  .why__order {
    padding: 30px 15px 20px;
  }
  .why__order-title {
    font-size: 30px;
  }
  .why__order-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .why__form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .why__form input {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  .why__form button {
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
  .partners__title {
    font-size: 20px;
  }
  .partners__subtitle {
    font-size: 20px;
  }
  .partners__list-item {
    padding: 10px 12px;
    font-size: 16px;
  }
  .footer__bottom {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media (max-width: 459px) {
  .why__item {
    flex-direction: column;
  }
  .why__item-img {
    max-width: 80px;
    margin: 0 auto;
  }
}
@media (max-width: 370px) {
  .header__logo {
    font-size: 20px;
  }
  .promo__content-title {
    font-size: 26px;
  }
  .promo__content-advantages_item {
    font-size: 20px;
  }
  .prices__item {
    padding-left: 3px;
    padding-right: 3px;
  }
  .prices__item-content_item {
    font-size: 20px;
    gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
